* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #08506f;
    margin: 5px 5px 5px 5px;
    
}



/*main {
    
}

body {
  
}*/

.photo {
    max-width: 120px;
    border-color: #13293d;
    border-width: 5px;
    border-radius: 5px;

}

h1 {
    font-size: 50px;
}

.header h1 {
    display: inline-block;
    font-size: 60px
}

.header nav {
    display: flex;
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    display: flex;
    font-size: 1vw;
}

h2 {
    font-size: 50px;
}

.big-card {
    display: flex;
    min-height: 25vw;
    min-width: 20px;
    flex: 1 0 200px;
    /* flex-wrap: wrap; */
    width: 100%; 
    border-style: solid;
    padding: 5px; 
    background-color: bisque;
    } 
   
   .big-card h3 {
    font-size: 25px;
    padding: 5px;
    text-align: center;
    background: #13293d;
    color: #fff;
   } 
   .big-card img { 
    display: flex;
    width: 100%; 
    min-height: 200px;
    min-width: 300px;
    max-height: fit-content;
   }


.small-card { 
     /* display: flex; */
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%; 
    max-width: 270px;
  }
  
  .small-card h3 {
    text-align: center;
    font-size: 20px;
    background: #13293d;
    color: #fff;
    padding: 15px;
  }

  .small-card img {
    /* display: flex; */
    width: 100%;
    max-width: 270px;
  }


 @media screen and (max-width: 992px) {
  .small-card {
      width: 50%;
  }
}
@media screen and (max-width: 768px) {
 .small-card {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .header {
           order: 2;
       }
   }

#resume {
    display: block;
}
   footer {
       display: block; 
       font-size: 15px;
   }