* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053d55
}

.header h1 {
    display: inline-block;
    font-size: 42px
}

a {
    color: #ffffff;
    text-decoration: none;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    background-color: darkkhaki;
    padding: 50px;
    text-align: left;
}

.section {
    flex: 4; 
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: darkslategrey;
}

