* {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053d55;
}

body {
     /*box-sizing: border-box;
   display: grid*/
    padding: 10px;
    
}

.header h1 {
    display: inline-block;
    font-size: 42px
}

/*a {
    color: #ffffff;
    text-decoration: none;
}*/

.header nav {
    padding-top: 15px;
    margin-right: 40px;
    float: right;
    /*font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-size: 20px;
}

.header nav ul {
    /*list-style-type: none;*/
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.grid-for-main {
    display: block;
    /*display: grid;*/
    grid-template-columns: auto auto auto;
    background-color: tomato;
    padding: 10px;
    border: 1px solid beige
}
/*.grid-container-for-work {
    /*display: grid;*/
    /*display: block;*/
    /*content: box;
    border: yellow;
    border-radius: 5px;
    box-sizing: content-box;
}*/



.grid-container-for-work {
    display: grid;
    grid-gap: 25px 75px;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .ben-folds-fan-page {
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .code-refactor {
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .self-help-reference {
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .lyrics-game {
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .first-web-page {
      display: block;
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

.about-me {
    border: 5px;
    border-color: darkgoldenrod;
}
.work {
    border-color: black;
}

main {
    display: flex;
    flex-wrap: wrap;
}
/*
aside {
    flex: 1;
    background-color: darkkhaki;
    padding: 50px;
    text-align: left;
}

.section {
    border: 5px;
    border-color: chartreuse;
    flex: 4; 
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: darkslategrey;
}

*/